<div class="banner">
  <div class="banner-content text-center">
    <h1>Change your life: learn to make cocktails</h1>
    <p>Mister Cocktail brings tasty skills to creative people</p>
  </div>
</div>
<div id="cocktails-gallery" class="container">
  <h2>Our Favourites</h2>
  <div class="d-flex justify-content-between flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo.key %>)">
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        </div>
      <% else %>
        <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/c1/e0/fd/c1e0fd6fb389aaececd55dfa99bcd130.jpg)">
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
