.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  background: #23282B;
  text-align: center;
  padding: 12px 50px;
  color: white;
}

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
