#form-ingredient {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h4 {
    text-align: center;
    margin-bottom: 24px;
  }
}


#form-cocktail {
  background-color: white;
  margin-top: -40px;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h3 {
    text-align: center;
    margin-bottom: 24px;
  }
}


.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  a {
    color: lightgrey;
  }
  &:hover a {
    color: lightgrey;
  }
}
